{% extends "core/base.html" %}

{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row mt-5">
        <div class="col-md-10 col-sum-6">
            <a href={% url 'post-list' %} class="btn btn-light">Back To Feed</a>
        </div>
    </div>  
</div>

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-10 col-sum-12 border-bottom">
            {% if post.shared_user %}
            <p>
                <div>
                    <a href="{% url 'profile' post.shared_user.profile.pk %}">
                        <img style="float: left; margin-right: 1rem;" class="rounded-circle" height="30" width="30" src="{{ post.shared_user.profile.picture.url }}" />
                    </a>
                    <p style="padding-left: 0.5rem;">
                        <p><a style="text-decoration: none" class="text-primary" href="{% url 'profile' post.shared_user.profile.pk %}"><strong>@{{ post.shared_user }}</strong></a> {{ post.created_at }}
                            <span onclick="shareToggle('{{ post.pk }}')"><i class="far fa-share-square share-btn"></i></span>
                        </p>
                    </p>
                </div>
                {% if request.user == post.shared_user %}
                    <a href="{% url 'post-edit' post.pk %}" style="color:#333;">  <i class="far fa-edit"></i></a>
                    <a href="{% url 'post-delete' post.pk %}" style="color:#333;">   <i class="fas fa-trash"></i></a>
                {% endif %}
            </p>
            {% else %}
            <p>
                <div>
                    <a href="{% url 'profile' post.auther.profile.pk %}">
                        <img style="float: left; margin-right: 1rem;" class="rounded-circle" height="30" width="30" src="{{ post.auther.profile.picture.url }}" />
                    </a>
                    <p style="padding-left: 0.5rem;">
                        <p><a style="text-decoration: none" class="text-primary" href="{% url 'profile' post.auther.profile.pk %}"><strong>@{{ post.auther }}</strong></a> {{ post.created_at }}
                            <span onclick="shareToggle('{{ post.pk }}')"><i class="far fa-share-square share-btn"></i></span>
                        </p>
                    </p>
                </div>
                {% if request.user == post.auther %}
                    <a href="{% url 'post-edit' post.pk %}" style="color:#333;">  <i class="far fa-edit"></i></a>
                    <a href="{% url 'post-delete' post.pk %}" style="color:#333;">   <i class="fas fa-trash"></i></a>
                {% endif %}
                
            </p>
            {% endif %}
            {% if post.shared_body %}
            <div class="position-relative border-bottom mb-3">
                <p>{{ post.shared_body }}</p>
            </div>
            <div style="margin-left: 30px;">
                <a href="{% url 'profile' post.auther.profile.pk %}">
                    <img style="float: left; margin-right: 1rem;" class="rounded-circle" height="30" width="30" src="{{ post.auther.profile.picture.url }}" />
                </a>
                <p style="padding-top: 0.5rem;">
                    <a class="text-primary post-link" href="{% url 'profile' post.auther.profile.pk %}">@{{ post.auther }}</a> {{ post.created_at }}
                </p>
            </div>
            {% endif %}
            <div style="margin-left: 30px;">
                <div class="position-relative pt-3">
                    
                    {% if post.image.count > 0 %}
                        <div class="row">
                            {% for img in post.image.all %}
                                <div class="col-md-4 col-xs-12">
                                    <img src="{{ img.image.url }}" class="post-image" />
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="position-relative">
                        {% if post.image.count > 0 %}
                        <div class="row">
                            {% for img in post.image.all %}
                                <div class="col-md-4 col-xs-12">
                                    <img src="{{ img.image.url }}" class="post-image" />
                                </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                        <p><strong>{{ post.body }}</p>
                        <a href="{% url 'post_detail' post.pk %}" class="stretched-link"></a>
                    </div>
                </div>
                
                
                    <div class="d-flex flex-row">
                        <form method="POST" action="{% url 'add-like' post.pk %}">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <button style="background-color: transparent; border: none; box-shadow: none;" type="submit">
                                <i class="far fa-thumbs-up"> <span>{{ post.likes.all.count }}</span></i>
                            </button>
                        </form>
            
                        <form method="POST" action="{% url 'dislike' post.pk %}">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <button style="background-color: transparent; border: none; box-shadow: none;" type="submit">
                                <i class="far fa-thumbs-down"> <span>{{ post.dislikes.all.count }}</span></i>
                            </button>
                        </form>
                        <form method="POST" action="{% url 'shared-post' post.pk %}" class="d-none" id="{{ post.pk }}">

                            {% csrf_token %}
                            {{ shared_form | crispy}}
                            <div class="d-grid gap-2">
                                <button class="btn btn-success mt-3">share post</button>
                            </div>
                        </form>
                    </div>
            </div>
        </div>
    </div>  
    <div class="row justify-content-center mt-5">
        <div class="col-md-10 col-sum-12 text-center">
            <form method="POST">
                {% csrf_token %}
                {{ form | crispy }}
                <div>
                    <button class="btn btn-success btn-dark mt-3">Submit!</button>
                </div>
            </form>
        </div>
    </div> 
    {% for com in comment %}
    {% if com.is_parent %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-10 col-sum-12 border-bottom">
            <div>
                <p>
                    <div>
                        <a href="{% url 'profile' com.author.profile.pk %}">
                            <img style="float: left; margin-right: 1rem;" class="rounded-circle" height="30" width="30" src="{{ com.author.profile.picture.url }}" />
                        </a>
                        
                        <p style="padding-left: 0.5rem;">
                            <p><a style="text-decoration: none" class="text-primary" href="{% url 'profile' com.author.profile.pk %}"><strong>@{{ com.author }}</strong></a> {{ post.created_at }}</p>
                        </p>
                    </div>
                    {% if com.author == request.user %}
                        <a href="{% url 'comment-edit' post.pk com.pk %}" style="color:#333;">  <i class="far fa-edit"></i></a><a href="{% url 'comment-delete' post.pk com.pk %}" style="color:#333;">   <i class="fas fa-trash"></i></a>
                    {% endif %}
                </p>
                <p><strong>{{ com.comment }}</p>
                    <div class="d-flex flex-row">
                        <form method="POST" action="{% url 'comment-likes' com.pk %}">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <button style="background-color: transparent; border: none; box-shadow: none;" type="submit">
                                <i class="far fa-thumbs-up"> <span>{{ com.likes.all.count }}</span></i>
                            </button>
                        </form>
        
                        <form method="POST" action="{% url 'comment-dislikes' com.pk %}">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <button style="background-color: transparent; border: none; box-shadow: none;" type="submit">
                                <i class="far fa-thumbs-down"> <span>{{ com.dislikes.all.count }}</span></i>
                            </button>
                        </form>
                        <div>
                            <button class="remove-default-btn"><i class="far fa-comment-dots" onclick="commentReplyToggle('{{ com.pk }}')"></i></button>
                        </div>

                    </div>
            </div>
            <div class="row justify-content-center mt-3 mb-5 d-none" id="{{ com.pk }}">
                <div class="col-md-5 col-sm-12">
                    <form method="POST" action="{% url 'comment-reply' post.pk com.pk %}">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <div class="d-grid gap-2">
                            <button class="btn btn-light mt-3">Submit!</button>
                        </div>
                    </form>
                </div>
            </div>
            {% for child_comment in com.children %}
            <div style="margin-left: 3rem;">
                <div class="row justify-content-left mt-3 mb-5">
                    <div class="col-md-5 col-sm-12">
                        <p>
                            <div>
                                <a href="{% url 'profile' com.author.profile.pk %}">
                                    <img style="float: left; margin-right: 1rem;" class="rounded-circle" height="30" width="30" src="{{ com.author.profile.picture.url }}" />
                                </a>
                                
                                <p style="padding-left: 0.5rem;">
                                    <p><a style="text-decoration: none" class="text-primary" href="{% url 'profile' com.author.profile.pk %}"><strong>@{{ com.author }}</strong></a> {{ post.created_at }}</p>
                                </p>
                            </div>
                            {% if com.author == request.user %}
                                <a href="{% url 'comment-edit' post.pk com.pk %}" style="color:#333;">  <i class="far fa-edit"></i></a><a href="{% url 'comment-delete' post.pk com.pk %}" style="color:#333;">   <i class="fas fa-trash"></i></a>
                            {% endif %}
                        </p>
                        <p>{{ child_comment.comment }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>

{% endblock content %}