{% extends "core/base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <a href={% url 'add' %} class="btn btn-light">ADD TWEET</a> 
</div>

<div class="container">

    {% for post in posts %}
    <div class="row justify-content-center text-left mt-3 mb-5">
        <div class="col-md-5 col-sum-12 border-bottom">
            <div>
                <a href="{% url 'profile' post.auther.profile.pk %}">
                    <img style="float: left; margin-right: 1rem;" class="rounded-circle" height="30" width="30" src="{{ post.auther.profile.picture.url }}" />
                </a>
                <p style="padding-left: 0.5rem;">
                    <p><a style="text-decoration: none" class="text-primary" href="{% url 'profile' post.auther.profile.pk %}"><strong>@{{ post.auther }}</strong></a> {{ post.created_at }}</p>                </p>
            </div>
            
            
            <div class="position-relative">
                {% if post.image %}
                <img src="{{ post.image.url }}" class="post-image"/>
                {%endif%}
                <p><strong>{{ post.body }}</p>
                <a href="{% url 'post_detail' post.pk %}" class="stretched-link"></a>
            </div>   
            <div class="d-flex flex-row">
                <form method="POST" action="{% url 'add-like' post.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button style="background-color: transparent; border: none; box-shadow: none;" type="submit">
                        <i class="far fa-thumbs-up"> <span>{{ post.likes.all.count }}</span></i>
                    </button>
                </form>

                <form method="POST" action="{% url 'dislike' post.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button style="background-color: transparent; border: none; box-shadow: none;" type="submit">
                        <i class="far fa-thumbs-down"> <span>{{ post.dislikes.all.count }}</span></i>
                    </button>
                </form>
            </div>     
        </div>
    </div>   
    {% endfor %}
</div>
{% endblock content %}